<!-- Container Div -->
 <!-- Animated SVG Text -->
 <svg class="animated-text" width="1100px" textLength="1100" viewBox="0 0 1500 200">
	<text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Always looking for new solutions</text>
  </svg>
<div #container id="container">
	
  
	<!-- Button Container with Two Buttons -->
	<div class="button-container">
	  <!-- First Button with Link -->
	  <a href="https://bookstore-d261a.web.app/" target="_blank">
		<svg class="animated-button" viewBox="0 0 300 100">
		  <rect x="10" y="10" width="280" height="80"></rect>
		  <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Demo 1</text>
		</svg>
	  </a>
  
	  <!-- Second Button with Link -->
	  <a href="https://servermanager-edac4.web.app/" target="_blank">
		<svg class="animated-button" viewBox="0 0 300 100">
		  <rect x="10" y="10" width="280" height="80"></rect>
		  <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">Demo 2</text>
		</svg>
	  </a>
	</div>
  </div>